{
    "extends": [
        "plugin:prettier/recommended",
        "@vue/prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    },
    "parserOptions": {
        "parser": "babel-eslint"
    }
}