@charset "utf-8";
@import url(./theme.css);
/* 大屏幕 ：大于等于1200px*/
@media (min-width: 1200px) {
  .backend-aside {
    width: 300px;
  }

  .backend-aside--collapse {
    width: 64px;
  }

  .backend-open-nav {
    display: none;
  }
}

/*默认*/
@media (min-width: 980px) {
  .backend-aside {
    width: 300px;
  }

  .backend-aside--collapse {
    width: 64px;
  }

  .backend-open-nav {
    display: none;
  }
}

/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979px) {
  .backend-aside {
    width: 280px;
  }

  .backend-aside--collapse {
    width: 64px;
  }

  .backend-open-nav {
    display: none;
  }
}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
  .backend-aside {
    width: 0;
    display: none;
  }

  .backend-aside--collapse {
    width: 0;
    display: none;
  }

  .backend-open-nav {
    display: inline-block;
  }
}

/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
  .backend-aside {
    width: 0;
    display: none;
  }

  .backend-aside--collapse {
    width: 0;
    display: none;
  }

  .backend-open-nav {
    display: inline-block;
  }
}

/* 通用样式 */
* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-style: normal;
}

.v-middle {
  vertical-align: middle;
}

.p5 {
  padding: 5px;
}

/** 左右布局容器 */
.left-right-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

/** 居右布局 */
.right-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/** 水平垂直居中 */
.v-h-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** 横向导航布局 */
.horizontal-nav ul {
  list-style: none;
  height: var(--header-height);
  line-height: var(--header-height);
  position: relative;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}

.horizontal-nav li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 12px;
  margin: 0;
}

.horizontal-nav a {
  text-decoration: none;
}

.horizontal-nav li:hover {
  background-color: var(--el-color-primary-light-8);
  color: var(--el-text-color-regular);
  cursor: pointer;
}

/** 垂直列表 菜单*/
.vertical-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12px;
  word-wrap: break-word;
}

.vertical-menu ul {
  border: none;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  border: none;
  border-radius: var(--el-border-radius-base);
  box-shadow: none;
}

.vertical-menu li {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 30px;
  padding: 0 15px;
  margin: 0;
  font-size: var(--el-font-size-base);
  color: var(--el-text-color-regular);
  cursor: pointer;
  outline: none;
}

.vertical-menu li:hover {
  background-color: var(--el-border-color-light);
  cursor: pointer;
}

.flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** 动画 */
/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover {
  color: white;
}
.hvr-radial-out:hover:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
