:root {
  --default-bg-color: #fafafa;
  --light-bg-color: #ffffff;
  --dark-bg-color: #2b3140;
  --backend-header-bg-color: #b3c0d1;
  --backend-aside-bg-color: #d3dce6;
  --backend-main-bg-color: #e9eef3;
  --home-header-bg-color: #EBEEF5;
  --home-main-bg-color: #fafafa;
  --home-header-height: 60px;
  --aside-footer-height: 40px;
  --content-footer-height: 60px;
  --header-height: 64px;
}
